# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/

# Uploads
uploads/

# Certificates
certificates/